<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.study.mapper.UserMapper">

    <insert id="register" parameterType="User" keyProperty="id">
        INSERT INTO operator_user
           (mobile, password,
           username, email,
           `desc`, create_at,
           update_at)
        VALUE
           (#{mobile},#{password},
           #{username},#{email},
           #{desc},#{createAt},
           #{updateAt});
    </insert>

    <select id="login" resultType="User">
        SELECT *FROM operator_user
        WHERE mobile = #{mobile}
        AND password = #{password};
    </select>

    <select id="getUserById" resultType="User">
        SELECT *FROM
        operator_user
        WHERE id = #{id};
    </select>
</mapper>